---
let imageUrl = 'https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.tsamgt.com%2Fwp-content%2Fuploads%2FWPH_AKL_Waiparuru-Hall.jpg&f=1&nofb=1&ipt=f655de7e029eb381f77be73739ea8308d1bb237058cd1e363be2e1647f658f59&ipo=images';
const { title, subtitle, url, pubDate, image } = Astro.props;
const date = new Date(pubDate).toDateString();
if (image != undefined && image.url != undefined) {
  imageUrl = image.url;
}
---

<a href={url} class="relative flex flex-col justify-end w-96 h-64 rounded-xl shadow-xl backdrop-blur-xs p-4">
  <!-- Background Image -->
  <div class="absolute rounded-xl inset-0 bg-cover bg-center" style={`background-image: url(${imageUrl})`} ></div>

  <!-- Gradient Overlay -->
  <div class="absolute rounded-xl inset-0 bg-gradient-to-b from-transparent to-gray-900"></div>

  <h2 class="relative text-xl text-white font-bold">{title}</h2>
  <p class="relative text-white">{subtitle}</p>
  <p class="relative text-white ">{date}</p>
</a>