---
import { Show } from "solid-js";
import ArticleCard from '@molecules/article-card.astro';
import Layout from "../layouts/layout.astro";
import { Image } from "astro:assets";
import axios from 'axios';
// import StrikeStats from "@atoms/strike-stats.astro";
const allPosts = await Astro.glob('../pages/posts/*.md*');
let concurrentStrikerCount;
let totalDollarCount;
try {
  const res = await axios({
    method: 'get',
    url: '/stats/',
    baseURL: import.meta.env.PUBLIC_API_BASE_URL
  });
  concurrentStrikerCount = res.data.concurrentStrikerCount;
  totalDollarCount = res.data.totalDollarCount;
} catch {}
// 

// const baseUrl = import.meta.env.PUBLIC_API_BASE_URL;
// axios.defaults.baseURL = baseUrl;
// const { totalDollarCount, totalStrikerCount, concurrentStrikerCount } = (await axios.get('/api/stats/')).data;
 

---

<Layout>
  <div class="flex flex-col gap-4 pt-2 pb-12">
    <div class="hero">
      <div class="hero-content flex-col justify-center lg:flex-row gap-10 lg:gap-12 w-full p-4 md:p-12">

        <div class="rounded-xl w-full gap-12 p-12 md:gap-0 md:h-96 flex flex-col md:flex-row justify-around" style="background-image: url('/strike-gradient.png');">
          <div class="flex flex-col gap-4 justify-center items-center">
            <img class="w-32"src="/uoa-logo.png" />
            <h1 class="uppercase font-strike text-white text-5xl text-center">Strike for<br /> Fair Rent</h1>
          </div>
          <div class="flex flex-col justify-center items-center gap-8">
            <div>
              <h4 class="font-sans text-white text-2xl text-center"><b>{concurrentStrikerCount}</b> students are striking against</h4>
              <h3 class="uppercase font-strike text-white text-3xl text-center">Waipapa Taumata Rau</h3>
              <h4 class="font-sans text-white text-2xl text-center">for fair rent now!</h4>
            </div>
            <div class="flex flex-col gap-2 justify-center items-center">
              <a href="/strike" class="uppercase bg-[#e1e1e1] p-8  rounded-xl font-strike text-4xl text-[#272627] shadow-xl">Pledge</a>
              <a href="/info" class="text-xl text-blue-100 underline">Learn more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="why" class="hero">
      <div class="hero-content flex-col justify-center items-start text-left w-full p-8">
        <h3 class="text-lg sm:text-3xl font-bold font-display">Our Why</h3>
        <p class="text-lg sm:text-2xl">We strongly oppose the University's unfair and disproportionate rent increases and urge them to stop exploiting their students by decreasing their rent. The University is a tertiary education institution, not a business, and its students are not consumers or customers. They must prioritise student wellbeing and make the students their focus. We demand that the University of Auckland lower the rent at their student accommodation to ease the cost of living pressures on students. </p>
      </div>
    </div> 
    <div class="hero">
      <div class="hero-content relative w-full justify-center items-center">
        <Image width="1600" height="300" src="/images/signature.svg"  alt="Graphic of a signature"/>
        <a href="https://chng.it/pTSGNWQGDT"  class="absolute font-bold font-display bg-accent bg-opacity-80 px-12 py-6 shadow-lg text-2xl sm:text-3xl rounded-full" target="_blank">View our Petition</a>
      </div>
    </div>

    <div class="hero">
      <div class="hero-content flex flex-col w-full justify-center items-start text-left p-8">
        <h3 class="text-lg sm:text-3xl font-bold font-display">Students Thoughts</h3>
        <ul class="flex flex-col gap-6 list-disc">
          <li>
            <p class="text-xl">“It has made me need to overwork and miss classes just to pay bills by working weekends (10 hours) and weekdays (10 pm - 2 am, 4 nights a week).” - First Year Student</p>
          </li>
          <li>
            <p class="text-xl">“Alongside feeling as though the price I am paying is not properly justified for a self-catered accommodation, I also have an internal feeling of guilt that my parents have to help. I work 21 hours a week while studying full-time to ensure that I can keep up with other additional expenses. The price for a safe place (particularly as a young woman) should not be this expensive.” - Second-year student</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="hero">
      <div class="hero-content flex flex-col w-screen justify-center items-start text-left p-8">
        <h3 class="text-lg sm:text-3xl font-bold font-display">Articles</h3>
        <div class="carousel carousel-center flex flex-row gap-4 overflow-x-scroll w-full">
          {
            allPosts.map((post, index) => <div class="carousel-item" id={`slide-${index}`}><ArticleCard title={post.frontmatter.title} subtitle={post.frontmatter.subtitle} author={post.frontmatter.author} pubDate={post.frontmatter.pubDate} image={post.frontmatter.image} url={post.url}/></div>)
          }
        </div>
      </div>
    </div>
  </div>
</Layout>


