---
import Layout from "./layout.astro";
const { frontmatter } = Astro.props;

let imageUrl = 'https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.tsamgt.com%2Fwp-content%2Fuploads%2FWPH_AKL_Waiparuru-Hall.jpg&f=1&nofb=1&ipt=f655de7e029eb381f77be73739ea8308d1bb237058cd1e363be2e1647f658f59&ipo=images';
if (frontmatter.image != undefined && frontmatter.image.url != undefined) {
  imageUrl = frontmatter.image.url;
}
---
<Layout>
  <script>
    import { addNotification } from "../store/notifications";
    function copyLink() {
      console.log("Copying Link")
      navigator.clipboard.writeText(
        window.location.href
      )
      addNotification(
        {
          value: 'Copied Link'
        }
      ) 
    }
    document.querySelector("#shareButton").addEventListener('click', copyLink);
  </script>
  <style>
    a {
      color: blue
    }
    h1 {
      font-weight: bold;
      font-size: 2rem;
    }
    h2 {
      font-weight: bold;
      font-size: 1.5rem;
    }
    h3 {
      font-weight: bold;
      font-size: 1.2rem;
    }
  </style>
  <div class="p-12 flex flex-col gap-12 justify-center items-center">
    <div class="flex flex-col justify-center items-center gap-2">
      <img src={imageUrl} class="w-3/4 h-64 object-cover rounded-xl"/>
      <h1 class="text-4xl w-3/4 md:text-4xl font-bold text-center">{frontmatter.title}</h1>
      <h2 class="text-2xl text-center">{frontmatter.subtitle}</h2>
      <h3 class="text-2xl text-center">Article by <b>{frontmatter.author}</b></h3>
      <span class="flex flex-row w-full justify-center gap-3"><img src="/images/repost.svg"/> <h3 class="text-2xl text-center w-max">Reposted from <a class="font-bold" href={frontmatter.repostedFrom.href} target="_blank">{frontmatter.repostedFrom.name}</a></h3></span>
      <p class="text-2xl text-center">Published on <b>{new Date(frontmatter.pubDate!).toDateString()}</b></p>
      <button id="shareButton">
        <img src="/images/share.svg" />
      </button>
    </div>
    <div class="flex flex-col text-lg gap-4 leading-relaxed text-balanced max-w-screen-md">
      <slot/>
    </div>
  </div>
</Layout>
